<a href="https://colab.research.google.com/github/vaishnavivyasam/Vaishnavi_INFO5731_Fall2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
str='department of information science'
print(len(str))

33

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
str="google.com"

result={}

for x in str:
  if x in result:
    result[x]=result[x]+1
  else:
   result[x]=1
   
   print(result)

{'g': 1}
{'g': 1, 'o': 1}
{'g': 2, 'o': 2, 'l': 1}
{'g': 2, 'o': 2, 'l': 1, 'e': 1}
{'g': 2, 'o': 2, 'l': 1, 'e': 1, '.': 1}
{'g': 2, 'o': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1}
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [2]:
sum_list=[140,20,10]
print(sum(sum_list))

170

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [6]:
def Compute_func(a,b):
  s = 3.14 *((1+a/b)**3)
  return s

print(Compute_func(1,1))

25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
result = {}
for x in (dic1, dic2, dic3): result.update(x)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
tuple = ("a","e","i","o","u",1, 2, 3)
print("i" in tuple)
print("e" in tuple)
print(9 in tuple)

True
True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [3]:
set = {2,8,45, 55, 6, 90}
print(set)
print("\nMaximum value:")
print(max(set))
print("\nMinimum value:")
print(min(set))

{2, 6, 8, 45, 55, 90}

Maximum value:
90

Minimum value:
2

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [8]:
import random

def random_groups(student_list):
    rand_list = random.sample(range(0,len(student_list)),len(student_list))
    rand_num = random.randint(0,5)
    rearraged_group = []
    for i in range(len(student_list)):
        rearraged_group.append(student_list[rand_list[i]])
    
    if rand_num == 0:
        group1=rearraged_group[0:4]
        group2=rearraged_group[4:9]
        group3=rearraged_group[9:14]
        group4=rearraged_group[14:19]
        group5=rearraged_group[19:24]
        group6=rearraged_group[24:]
    
    elif rand_num == 1:
        group1=rearraged_group[0:5]
        group2=rearraged_group[5:9]
        group3=rearraged_group[9:14]
        group4=rearraged_group[14:19]
        group5=rearraged_group[19:24]
        group6=rearraged_group[24:]
    
    elif rand_num == 2:
        group1=rearraged_group[0:5]
        group2=rearraged_group[5:10]
        group3=rearraged_group[10:14]
        group4=rearraged_group[14:19]
        group5=rearraged_group[19:24]
        group6=rearraged_group[24:]
    
    elif rand_num == 3:
        group1=rearraged_group[0:5]
        group2=rearraged_group[5:10]
        group3=rearraged_group[10:15]
        group4=rearraged_group[15:19]
        group5=rearraged_group[19:24]
        group6=rearraged_group[24:]
    
    elif rand_num == 4:
        group1=rearraged_group[0:5]
        group2=rearraged_group[5:10]
        group3=rearraged_group[10:15]
        group4=rearraged_group[15:20]
        group5=rearraged_group[20:24]
        group6=rearraged_group[24:]
    
    elif rand_num == 5:
        group1=rearraged_group[0:5]
        group2=rearraged_group[5:10]
        group3=rearraged_group[10:15]
        group4=rearraged_group[15:20]
        group5=rearraged_group[20:25]
        group6=rearraged_group[25:]
    
    return [group1,group2,group3,group4,group5,group6]

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

print(random_groups(studnet_list))

[['ds0761', 'tv0119', 'dd0420', 'mv0299', 'dy0091'], ['vmb0067', 'ri0094', 'at0739', 'msp0174', 'at0768'], ['rs0850', 'pn0159', 'snd0097', 'ttp0037', 'hn0145'], ['nm0547', 'hc0439', 'yye0005', 'sg0940', 'pk0339'], ['bk0301', 'mn0426', 'spk0057', 'pc0353'], ['ss1995', 'vl0135', 'py0080', 'rrk0058', 'rak0120']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [15]:
def find_first_duplicate(nums):
    
    no_duplicate = -1
    duplicate_set = {}
    for i in range(len(nums)):
        if nums[i] in nums[i+1:]:
            duplicate_set[nums[i]]=1
            no_duplicate = 1
        
    if no_duplicate == -1 :
        return -1
    else:
        return list(duplicate_set.keys())

print(find_first_duplicate([1, 2, 3, 4]))
print(find_first_duplicate([1,1, 2, 3, 2]))

-1
[1, 2]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here